<%- include("TermsConditions") %>
<%- include("privacy") %>

<div class="container-fluid bg-dark px-5 py-3 mt-5">
			<div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-flex text-center text-sm-left d-sm-inline-flex">&#169; 2021 Lightup Link | <a class="text-secondary" href="#offcanvasWithBothOptions1" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasWithBothOptions1">Privacy Policy</a> | <a class="text-secondary" href="#offcanvasWithBothOptions" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasWithBothOptions">Term of Use</a> | <a class="text-secondary" href= "https://lightup-link.run-eu-central1.goorm.io/FAQs-Testimonials#faqs" target="_self">FAQS</a> |</span>
                <span class="float-none float-sm-right d-flex mt-1 mt-sm-0 text-center"> <b class="footerNote-text text-secondary">Powered By:</b> <span id="Prog-brand" class="footerNote-text" style="color: Black;"> addikted<span style="color: #c41a1a;"> Solutions</span></span> 
				  </span>
              </div>
		  </div>