	<div class="container-fluid page-body-wrapper">
      <!--partial:./partials/_navbar.html -->
      <nav class="navbar  col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="https://lightup-link.run-eu-central1.goorm.io/"><img src="/images/logoOnly.png" alt="logo"/></a>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
            
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
		
		<div class="content-page mt-5">
                <!-- Start content -->
                <div class="content">
					<div class="container">				 
						