<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions1" aria-labelledby="offcanvasWithBothOptionsLabel1" style="
	background-color: #00450b; color: gold;
">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Privacy</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>
		Your privacy is important to us, and so is being transparent about how we collect, use, and share information about you. The aim of this policy is to help you understand:
	</p>
	<ul>
		<li>
			The information we have collected about you
		</li>
		<li>
			The way we use the information collected
		</li>
		<li>
			How we share information we collect
		</li>
		<li>
			How the information collected are stored
		</li>
		<li>
			How long we keep the data for
		</li>
		<li>
			How to access and control your data
		</li>
		<li>
			Other primal privacy information
		</li>
	</ul>
	<p>
		This Privacy Communication covers the information we collect about you when you use our products or services, or other interactions you have with us. We refer to all of these products, together with our other services and websites as “Services” in this policy. 
	</p>
	<p>
		This policy also elucidates your options about how we use the information we have about you. Your options include how you can dissent to certain uses of information about you and how you can access and update your information. If you have any objection with this Privacy communication, do not use our Services or interact with any other affiliate of ours.
		Your information will be held by Lightup Link. 
		Where this policy mentions our, we or us, it is referring to Lightup Link, unless in cases where it is used otherwise.
	</p>
		ata Holding:
	<or>
		<li>
			<h6>
				Purpose, Scope, and Users
			</h6>
			<p>
				The required retention period of your personal data and the minimum standards to be applied when destroying certain information within Lightup Link is highlighted in this document.
			</p>
			<p>
				Lightup Link may request your personal information for better transaction on the site and in the light of this, this Policy applies to all business vendors, network technicians, persons, workers of any sort and systems associated with the company in all the states in which the Company conducts business and has transactions or other business interest with other companies we work with. It is therefore paramount that the above who may be likely to have access to customer information be familiar with this policy and comply strictly.
			</p>
			<p>
				Our purpose of collecting any of this information is purely for better use of our services. The information we receive will be treated as highly confidential except by court order.	
			</p>
		</li>
		<li>
			Reference Documents	
			<ul>
				<li>Nigeria Data Protection Regulation (NDPR) 2019, issued by the National Information Technology Development Agency (NITDA).</li>
				<li>Nigeria Data Protection Regulation (NDPR) 2019, issued by the National Information Technology Development Agency (NITDA).
Data Protection Act (2020), Section (2), Subsection (2) of Part 1.</li>
			</ul>
		</li>
		<li>
			Data Processing 	
			<p>
				We are likely to collect information on the following:	
			</p>
			<ul>
				<li>
					Emails: customers may be asked to provide a valid email to process transactions, for survey or for information on our services (this can be disabled in your email setting when it has become worrisome). We may also have access to your email address when we receive messages from our customers. 
				</li>
				<li>
					Contact details: details on phone numbers or address of residence may be collected during customers’ transactions. They could also be collected for other reasons such as survey. Social media handles may also be processed during the course of interactions.  
				</li>
				<li>
					Soft documents
				</li>
				<li>
					Data generated and stored
				</li>
			</ul>
			<p>
				Only the data given willingly will be processed. Lightup Link is not responsible for processing the data of persons under the legal age who make transactions on our site, in this light we discourage the use of our site for under aged persons.
			</p>
			<p>
				Also, persons who for religious, cultural, ethnic or personal reasons would not condone any or all of the statement in this policy may visit or contact us for better ways to meet your needs before engaging in any transaction.
			</p>
		</li>
		<li>
			<h6>
				Retention Rules
			</h6>
			<or>
				<li><h6>
						Retention General Principle
					</h6>
					<p>
						The Data Retention Schedule of Lightup Link stipulates that the required retention period for such document will be deemed to be 2 years from the date of creation of the document, unless otherwise mandated differently by applicable law or changed in the course of reviewing this policy.
					</p>
				</li>
				<li>
					<h6>
						Retention General Schedule
					</h6>
					<p>
						The Data Retention Schedule requires that the Data Officer outlines the time period for which documents and electronic records should to be retained.
					</p>
					<p>
						This process may be delayed in such cases where it is required:
					</p>
					<ul>
						<li>
							By the court of law for legal proceeding
						</li>
						<li>
							By the police force to aid an ongoing investigation
						</li>
					</ul>
				</li>
				<li>
					<h6>
						Safeguarding of Data during Retention Period
					</h6>
					<p>
						We are committed to safeguarding your information for the period of time we have them. We use up to date safeguards instruments to secure our customer’s information from unauthorised access and future technological changes.
					</p>
				</li>
			</or>
		</li>
		<li>
			Destruction of Data
			<p>
				Lightup Link is responsible for reviewing retained data after use and sort out those which are no longer significant after their utility has been exhausted. The data which are no longer necessary for transactions could be on paper or electronic device may be destroyed by means of:
			</p>
			<ul>
				<li>Shredding</li>
				<li>Overwriting</li>
				<li>Deleting</li>
				<li>Other software techniques</li>
			</ul>
			<p>
				These above means will get rid of information in a way that renders it unreadable or irrecoverable for records on paper or electronic device. Records which may not be destroyed are those required for an on-going legal or regulatory inquiry. The Data Officer shall see to the successful removal of outdated data no longer in use, and shall put in place the relevant measures to ensure that the company’s essential information is not permanently lost in the course of this. 
			</p>
		</li>
		<li>
			Breach, Enforcement and Compliance
			<p>
				The Data Officer shall therefore show a proof of destruction (whether done be self or subcontracted with the permission of Lightup Link) to avoid unintentional destruction of information. The Data Officer shall also assist Lightup Link employees with enquires they may have from time to time, ensure that they comply strictly with the policy and identify defaulters who will be investigated and dealt with accordingly.
			</p>
		</li>
		<li>
			Validity and document management
			<p>
				This document is valid as of July 2021. The owner of this document is Lightup Link who must check and, if necessary, update the document at least once a year.
This Policy statement is subject to change at any time.  
			</p>
		</li>
	</or>
  </div>
</div>