<div class="container-scroller d-flex">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav pl-0">
        <li class="nav-item sidebar-category">
          <p>Navigation</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/">
            <i class="fas fa-home menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item sidebar-category">
          <p >Services</p>
          <span></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="fa fa-wifi menu-icon"></i>
            <span class="menu-title">  Buy Internet Data</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu pl-5">
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/airtel">Airtel Data</a></li>
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/mtn">MTN Data</a></li>
				<li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/9mobile">9mobile Data</a></li>
				<li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/glo">GLO Data</a></li>
            </ul>
          </div>
        </li>
		<li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#airtime" aria-expanded="false" aria-controls="airtime">
            <i class="fas fa-phone-alt menu-icon"></i>
            <span class="menu-title">  Buy Airtime</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="airtime">
            <ul class="nav flex-column sub-menu pl-5">
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/airtelCredit">Airtel Airtime</a></li>
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/mtnCredit">MTN Airtime</a></li>
				<li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/9mobileCredit">9mobile Airtime</a></li>
				<li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/gloCredit">GLO Airtime</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
            <i class="fa fa-television menu-icon"></i>
            <span class="menu-title"> Tv Subscriptions</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu pl-5">
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/dstv"> DSTV Subscription </a></li>
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/startimes">Startimes Subscription </a></li>
              <li class="nav-item"> <a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/gotv">GOTV Subscription </a></li>
            </ul>
        	</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth">
				<i class="fa fa-bolt menu-icon"></i>
				<span class="menu-title menu-icon">Pay Electricity Bill</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="auth1">
				<ul class="nav flex-column sub-menu pl-5">
				  	<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/ikedc"> IKEDC Payement</a></li>
					<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/ekedc"> EKEDC Payement</a></li>
					<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/aedc"> AEDC Payement</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/kedco"> KEDCO Payement</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/jedc"> JEDC Payement</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/ibedc">IBEDC Payement</a></li>
                    <li class="nav-item"><a class="nav-link" class="active" href="https://lightup-link.run-eu-central1.goorm.io/kaedco">KAEDCO Payement</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/phed">PHED Payement</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#auth3" aria-expanded="false" aria-controls="auth">
				<i class="fa fa-ellipsis-v menu-icon"></i>
				<span class="menu-title">More</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="auth3">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link"href="https://lightup-link.run-eu-central1.goorm.io/contact">Contact Us</a></li>
					<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/about">About Us</a></li>
					<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/FAQs-Testimonials#faqs">FAQs</a></li>
					<li class="nav-item"><a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/FAQs-Testimonials#testimonials">Testimonials</a></li>
					<li class="nav-item"><a class="nav-link" href="#"><form class="SignOut" action="/logout" method="POST">
					<button class="SignOut"> Sign Out</button>  
				</form></a></li>
				</ul>
			</div>
		</li>
      </ul>
    </nav>