<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="
	background-color: #00450b; color: gold;
"> <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Terms And Conditions</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
	<h5>
		Introduction	
	</h5>
    <p>These Terms and Conditions will apply to the purchase of services by you (Customer). We are Lightup Link a company registered under Business Number 3323719, whose registered office is at 133 Ogudu Street, Ogudu and whose trading address is same as the registered address and you can reach out to us via email at info@lightuplink.com.</p>

	<p>These are the terms on which we sell all Services to you. Before placing an order on the Website, you will be asked to agree to these Terms and Conditions by clicking on the button marked ‘I Accept’. By accessing or using our Services, you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. Each time you access or use www.lighuplink.com and/or our web portals you are deemed to have read and agreed to the following Terms and Conditions.</p>

	<p>You can only Purchase the Services from the Website if you are eligible to enter into a contract and are at least 18 years old. </p>

	<p>The following terminologies are used in these Terms and Conditions: 
		<or>
			<li>"Client", “Customer”, “Consumer”, “You” and “Your” refers to the person accessing this website and accepting the Company’s terms and conditions. </li>
			<li>"The Company", “Our”, “Ourselves”, “We” and "Us", refers to Lightup Link. </li>
			<li>“Party”, “Parties”, or “Us”, refers to both “a” and “b” or either one of the two. </li>
		</or>  
	<p/>
	
	<h5>
		Service Distruptions	
	</h5>
	<p>Whilst we try to ensure that the standard of the Website remains high and to maintain the continuity of it, the internet is not an inherently stable medium, and errors, omissions, interruptions of service and delays may occur at any time. We do not accept any liability arising from any such errors, omissions, interruptions or delays or any ongoing obligation or responsibility to operate the Website (or any particular part of it) or to provide the service offered on the Website. We may change the specification of this site from time to time without notice.<p/>

	<h5>
		Content On This Site	
	</h5>
	<p>Whilst we make every effort to ensure that the information on our Website is accurate and complete, some of the information is supplied to us by third parties and we are not able to check the accuracy and completeness of that information. We do not accept any liability arising from any inaccuracy or omission in any of the information on our Website or any liability in respect of information on the Website supplied by you, any other website user or any other person.<p/>
	
	<h5>
		Site Usage	
	</h5>  
	<p>You may only use Lightup Link Website for lawful purposes when seeking information, purchasing your utilities, household services or business services. You must not under any circumstances seek to undermine the security of the Website or any information submitted to or available through it. You must not alter or delete any information to which you do not have authorisation/permission, you must not seek to overload the system via spamming or flooding. You must not take any action or use any device, routine or software to crash, delay, damage or otherwise interfere with the operation of the Website or attempt to decipher, disassemble or modify any of the software, coding or information comprised in the Website. Ensure your personal devices have the latest anti-virus software installed, this is to protect your devices from getting hacked whilst online. </p>
	<p>You are solely responsible for any information submitted by you to the Website. You are responsible for ensuring that all information supplied by you is true, accurate, up-to-date and not misleading or likely to mislead or deceive and that it is not discriminatory, obscene, offensive, defamatory or otherwise illegal, unlawful or in breach of any applicable legislation, regulations, guidelines or codes of practice or the copyright, trademark or other intellectual property rights of any person in any jurisdiction. You are also responsible for ensuring that all information, data and files are free of viruses or other routines or engines that may damage or interfere with any system or data prior to being submitted to the Website. We reserve the right to remove any information supplied by you from the Website at our sole discretion, at any time and for any reason without being required to give any explanation.</p>
	  
	<h5>
		Information Provided By You
	  </h5>  
	  <p>Lightup Link will use information supplied by you to aid the transaction process and associated administrative functions made through this website. All information received by us from your registration on lightuplink.com will be used in accordance with our Privacy Policy (kindly refer to the Privacy Policy). This involves us processing and storing information provided by you when using the website in accordance with relevant data protection legislation to enable us to provide you with a better service. </p>
<p>All Third Party Agencies have agreed to our Terms and Conditions, and they will be prevented from using our services should they be found to be in breach of the Terms and Conditions. </p>
	  
	  <h5>
		  Third Party Affliation
	  </h5>
	  <p>Our Site may offer services from third parties. We cannot guarantee the quality and accuracy of these services made available by third parties on our site. We are not responsible for the content, policies, and practices of any third party website or service linked to our site.</p>
	  
	  <h5>
		  Copyright
	  </h5>
	  <p>The content on our Website are protected by copyright laws, software and trademark laws and you concur to use our Website in a way which does not breach these rights. You are allowed to read all the sections on the Website but you are not permitted to extract or copy the content for a commercial gain.</p>
	  
	  <h5>
		  User Credential(s)
	  </h5>
	  <p>
		  When registering to use the Website you set up a username and password. You remain responsible for all action taken under chosen username and password.  You are required to sign in with your credential (username and password) when you need to gain access to the user dashboard interface. 
	  </p>
	  <p>
		  You are totally responsible in ensuring that your credential(s) is not known by anyone other than yourself. Please do not hesitate to contact us at info@lightuplink.com if you noticed an unauthorised activity with your details. Please be advised that Lightup Link won’t be held liable for any unauthorised or inappropriate disclosure of your credential(s).
	  </p>
	  
	  <h5>
		  Cessation
	  </h5>
	  <p>
		  If at any time, we suspect an illegal activity through your account/registration. We may terminate your registration and/or deny you access to the Website and other services associated with us (including any services, goods or information available on or through the Website) without any clarification or warning. The decision to terminate such account will be down to our discretion at any time. 
	  </p>
	  
	  <h5>
		  Liability
	  </h5>
	  <p>
		  Lightup Link will not be responsible for any loss you encounter from your use of our website. We are not to be held accountable when you purchase the wrong service or input a wrong number (phone number, cable television number or meter number). Likewise we will not accept any liability for any form of negligence by the consumer where it results to loss or wastage. If you are in doubt at any time while using the website, please contact the customer service representative to clarify such misunderstanding before you proceed further.
	  </p>
	  
	  <h5>
		  Customers Indemnity
	  </h5>
	  <p>
		  Lightup Link will not be held responsible if customers are issued false tokens from ghost websites or false agents (those who are not registered under us). You agree to indemnify us and keep us indemnified against all costs, expenses, claims, losses, liabilities or proceedings arising from use or misuse by you of the Website. Customer hereby holds harmless and indemnifies Lightup Link, its Affiliates, its directors, officers, employees and agents against any and all losses, liabilities, damages, reasonable costs and expenses whatsoever, including, without limitation, reasonable attorneys’ fees, and the cost of recalls and any and all amounts reasonably paid in settlement of any claim.
	  </p>
	  <p>
		  Customer shall indemnify, defend, and hold the company harmless from any action brought by a third-party against Lightup Link. You are advised to notify us immediately if anyone makes or threatens to make any claim against you relating to your use of the Website.
	  </p>
	  
	  <h5>
		  Law and Jurisdiction
	  </h5>
	  <p>
		  The use of the Website and any agreements entered into through the Website are to be governed by and construed in accordance with Nigerian law. The Nigeria courts are to have unrestricted jurisdiction to settle any disagreement arising out of or in connection with the use of our Website or any agreement affiliated through our Website.
	  </p>
	  <p>
		  We will try to avoid any dispute or disagreement, so we deal with complaints as follows: Phone Calls via customer representatives, via an email (support@lightuplink.com) and live chat.
	  </p>
	  
	  <h5>
		  Human Trafficking and Modern Slavery Act statement
	  </h5>
	  <p>
		  We are devoted to ensuring that there is no modern slavery or human trafficking within our business chain. At Lightup Link, we have zero-tolerance policy toward any form of modern slavery and we are 100% compliant to the Federal Government of Nigeria. We have adopted the Trafficking in Persons (Prohibition) Law Enforcement and Administration Act in 2003 and the amendments Act 2015.
	  </p>
	  
	  <h5>
		  Amendments to Terms of Conditions 
	  </h5>
	  <p>
		  These Terms and Conditions may be changed by us at any period in order to maintain compliance with the law and to reflect any changes to the way we operate our site and the way we expect our customers to behave whilst using our site. You will need to accept the Terms and Conditions whenever any amendments have taken place.
	  </p>
	  <p>
		  If any provision of these Terms and Conditions is held to be invalid by the Nigerian court, such invalidity shall not affect the validity of the remaining provisions, which shall remain in full force and effect.
	  </p>
	  
	  <h5>
		  Registered Office
	  </h5>
	  <p>
		  <b>133 Ogudu Road, Ogudu, Lagos State, Nigeria.</b> Business Registration Number 3323719. Registered in Nigeria.
	  </p>
  </div>
</div>