<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Online billing payment systems in Nigeria aiming to pay bills like electricity bills, Prepaid and Postpaid Meters units for IKEDC, EKEDC and IBDEC">
	<meta name="keyword" content="">
	<meta name="theme-color" content="">
	<meta name="copyright" content="About Linghtup Links" >
	
	<!-- 	favicon icons	 -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon.ico">
		<link rel="manifest" href="/favicon_io/site.webmanifest">
	
    <title>About Us</title>
	
	<!-- <link href="/fontawesome-free-5.15.2-web/css/all.min.css" rel="stylesheet" type="text/css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">
	
	<script src="https://kit.fontawesome.com/4a1b99f611.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/popup.css">
</head>
<body>
<!-- Bg -->
	<div class="bg-image">
<!-- Nav Pills-->
	<nav class="navbar navbar-expand-lg navbar-light bg-success">
			 	<div class="container">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				  		<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				  		<a class="navbar-brand" href="#"><a>
				  		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
						  		<a class="nav-link" aria-current="page" href="https://lightup-link.run-eu-central1.goorm.io">Home</a>
							</li>
							<li class="nav-item">
					  			<a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/pay-bills">Pay Bills</a>
							</li>
				  		</ul>
				  		<div class="d-flex">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link" href="https://lightup-link.run-eu-central1.goorm.io/contact">Contact Us</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="https://lightup-link.run-eu-central1.goorm.io/about" >About Us</a>
								</li>
							</ul>
						</div>	
					</div>
			  	</div>
			</nav>
   
<!-- Nav Pills -->
	<div class="Wrapper">
<!-- Logo -->
		<img id="logo" class="py-5" src="/images/image-removebg-preview.png">
<!-- Logo -->
<!-- About Us -->
		<div  class="font">
			<h2 class="text-centered pb-3">
				About Us
			</h2>
			<p>
				Lightup Link offers a payment service where customers can easily pay for their utilities through their smart devices irrespective of the time and location. Our platform provides 24hrs service to ensure our customers have smooth user experience during their transactions. 
			</p>
			<p>
				As a brand, we are aware of our environmental responsibility, constantly we acknowledge our commitment to sustainable development. Our duty is to recognise those responsibilities in social, environmental and economic matters to ensure an optimal quality of life for both current and future generations.
			</p>
		</div>
		<div>
			<div class="row py-5">
				<div class="col-12 col-md-6">
				<img class="imagesize" id="image1" src="/images/Teamwork.jpg">
				</div>
				<div class="font col-12 col-md-6">
					<h2 class="text-centered">
						Vision
					</h2>
					<p>
						<ul>
							<li>To grow until we become Nigeria’s number one utility payment platform. </li>
							<li>Our aim is to establish a standard and world class payment solution that would cut across all the states within the country.</li>
						</ul>
					</p>
				</div>
			</div>
			<div class="row mb-5">
					<div class="font col-12 alternate col-md-6">
						<h2 class="text-centered">
							Mission
						</h2>
						<p>
							<ul>
								<li>Our mission is to provide a reliable and secured platform for our customers.</li>
								<li>We want to build a platform that can favorable compete with other leading brands in the payment sector.</li>
						</ul>
						</p>
					</div>
					<div class="col-12 alternate col-md-6">
						<img class="pr-5 imagesize" src="/images/misson.jpg">
					</div>
			</div>
	</div>
<!-- bg -->
	
	<div id="footer" class="container">
		<div class="row text-centered pt-4">
			<div class="col-md-4">
				<h3>
					ABOUT LIGHTUP LINK
				</h3>
				<p>
					Lightup Link offers a payment service where customers can easily pay for their utilities through their smart devices irrespective of the time and location.
				</p>
			</div>
			<div class="col-12 col-md-4">
				<h3>
					CONTACT INFO
				</h3>
				<p class="border-bottom pb-1 mb-2 m-0" id="socialmediaicons">
					<span><i class="fab fa-facebook fa-2x mx-3" id="facebook"></i></span><span><i class="fab fa-instagram fa-2x" id="instagram"></i></span><span><i class="fab fa-twitter fa-2x mx-3" id="twitter"></i></span>
				</p>
				<p class="m-0">
					<p class="mb-1">
						<i class="fas fa-phone-alt"></i>  Phone: xxxx xxxx xxx
					</p>
					<p class="mb-1">
						<i class="fas fa-envelope"></i>   Email: info@lightuplink.com
					</p>
					<p class="mb-1">
						<i class="fas fa-envelope"></i>   Email: support@lightuplink.com
					</p>
				</p>
			</div>
			<div class="col-md-4">
				<h3>
					QUICK LINKS
				</h3>	
				<ul>
					<li class="border-bottom"><a href="https://lightup-link.run-eu-central1.goorm.io/">Home</a></li>
					<li class="border-bottom"><a href="https://lightup-link.run-eu-central1.goorm.io/pay-bills">Pay Bills</a></li>
					<li class="border-bottom"><a href="https://lightup-link.run-eu-central1.goorm.io/register">Sign Up</a></li>
					<li class="border-bottom"><a href="https://lightup-link.run-eu-central1.goorm.io/login">Login</a></li>
					<li class="border-bottom"><a href="https://lightup-link.run-eu-central1.goorm.io/contact">Contact Us</a></li>
				</ul>
			</div>
		</div>			
	</div>
	<%- include("partials/footerTwo") %>
		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>