<!DOCTYPE html>
<html lang="en">

<head>
	  <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Lightup Link - Pay Bills</title>
	<link href="/css/FAQs-Testimonials.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<%- include("partials/barpath") %>
</head>
<body>
  <%- include("partials/sidebar") %>
    <!-- partial -->
    <%- include("partials/navbar") %>
						<div id="bgimage-1">
							<div class="contentCenter">
								<button type="button" class="btn btn-outline-success mt-3 "><a class="a"href="#testimonials">Testimonies</a></button>
								<button type="button" class="btn btn-outline-success mt-3 "><a class="a"href="#faqs">Frequently Asked Questions</a></button>
							</div>
						</div>
						<div id="testimonials">
							<h1>
								Customer Testimonials
							</h1>
							<p class="w-50">
								Spicy jalapeno bacon ipsum dolor amet fatback strip steak pancetta ball tip biltong, venison shoulder hamburger pig rump meatloaf beef sirloin. Alcatra shankle short ribs, rump buffalo brisket strip steak shank turducken pork.
							</p>
							<div class="g-3 row">
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face1.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face16.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face17.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face18.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face2.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
								<div class="col-12 col-sm-6 col-lg-4">
									<div class="card" style="width: 18rem;">
									  <div class="card-body">
										<img src="/images/other/face23.jpg" alt="Picture">
										<h5 class="card-title">Name</h5>
										<h6 class="card-subtitle mb-2 text-muted">Relation to company</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									  </div>
									</div>
								</div>
							</div>
						</div>
						<div id="faqs">
							<h1>
								Frequently Asked Questions
							</h1>
							<div class="accordion accordion-flush" id="accordionFlushExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingOne">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
										How secure is my personal information and my bill payment?
									  </button>
									</h2>
									<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">All transactions are administered through our secure website and all data transactions are encrypted. Any personal information you enter will be used only for the particular one-time transaction and will not be shared for any other purpose.</div>
									</div>
								  </div>
								  <div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingTwo">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
										What are the devices that are supported on your platform?
									  </button>
									</h2>
									<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">Our platform supports all form of smart devices, laptops and computers via www.lightuplink.com</div>
									</div>
								  </div>
								  <div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingThree">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
										The address/Metre number details you have on file for my account is incorrect. What do I do?
									  </button>
									</h2>
									<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">If your metre number, house address, email address or mobile number has changed, please contact our customer support representatives with the correct details and we’ll update your records.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingFour">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
										What to do If I have not received a token or credited after my payment?
									  </button>
									</h2>
									<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">If you believe that you’ve made your payment and the credit is not reflected on your mobile, DSTV etc. Please contact our customer support representatives who will kindly assist  you in resolving the issue.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingFive">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
										What if I have additional questions about advertisement, billing, services, payments or token?
									  </button>
									</h2>
									<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">If you have  any question(s), send an email to our support team at info@lightuplink.com or call us on  0901 2345 678 and you can also reach us on social media.
</div>
									</div>
								</div>
								<h4>
									LOGIN ISSUES
								</h4>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingSix">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
										Do I have to create an account before I can use your service?
									  </button>
									</h2>
									<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">Customers don’t have to register to use our services, all you need is your mobile, email address and make payment. Registration is optional and it allows customers to see their historic transactions and monitor their usage.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingSeven">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
										I have forgotten my password. How do I reset it?
									  </button>
									</h2>
									<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">The process is very simple, you click on reset  password and ensure you have your email address & mobile number available to receive the activation code. </div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingEight">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
										I cannot login, any issues?
									  </button>
									</h2>
									<div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">Please ensure you are using the right username and password combination. If you still can't login with your credentials please contact customer representatives who will be more than happy to assist you</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingNine">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
										How do I get my details removed or deactivate my user account?
									  </button>
									</h2>
									<div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">Contact our customer representatives who will assist you in removing your account but they will ask you some questions to ascertain you are who you say you are.</div>
									</div>
								</div>
								<h4>
									PAYEMENT OPTONS
								</h4>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingTen">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
										What are the payment options available ?
									  </button>
									</h2>
									<div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">Customers can make payments via Verve card, Mastercard, Visa , Bank transfer and short code.en.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingEleven">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
										What to do when debited but my transaction wasn’t successful?
									  </button>
									</h2>
									<div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">We provide a round the clock support 24/7, you can contact our customer representatives via WhatsApp, email, telephone call and live-chat. They will be able to advise you on the next step to take.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingTwelve">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
										How much will I pay for Service charges?
									  </button>
									</h2>
									<div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">We charge ₦100 per transaction for most of our services apart from airtime and data subscriptions that we charge ₦20 per transaction.</div>
									</div>
								</div>
								<h4>
									PREPAID METER (Token)
								</h4>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingThirteen">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
										What’s the expiry period for a token?
									  </button>
									</h2>
									<div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">A token generated would expire after 3 months (90 days)  </div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading14">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
										Is it possible to use a token generated for my meter for another meter?
									  </button>
									</h2>
									<div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading14" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">At present, a token generated for a specific meter cannot be used by another metre.</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading15">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15">
										After payment, I didn’t receive any token by text?
									  </button>
									</h2>
									<div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-heading15" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">
										  <ul>
											  <li>We are sorry to hear that, please check if the mobile number you provided is correct. Also, we advise our customers to provide their email addresses during any transaction as a second outlet to obtain their tokens.</li>
											  <li>You can contact our customer representatives who will assist you further on resolving this issue but, bear in mind that they will ask you a couple of questions to validate your identity.</li>
										  </ul>
									</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading16">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse16" aria-expanded="false" aria-controls="flush-collapse16">
										I would like to know why my transaction wasn’t successful?
									  </button>
									</h2>
									<div id="flush-collapse16" class="accordion-collapse collapse" aria-labelledby="flush-heading16" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body d-block">
											<p>
												This could be due to a combination of things. 
											</p>	
											<ul>
												<li>There might be a network problem with your service provider.</li>
												<li>Banks might be experiencing service issues</li>
											</ul>
											<p>
												You can reach out to our support who will advise you accordingly. 
											</p>
									  	</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading17">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse17" aria-expanded="false" aria-controls="flush-collapse17">
										  Why do I have debt On my Meter?
													  </button>
									</h2>
									<div id="flush-collapse17" class="accordion-collapse collapse" aria-labelledby="flush-heading17" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">
										  	<p>
											  	There are series of factors that could cause this problem, below are some of the reasons;
										  	</p>
										  	<ul>
										  		<li>Your electricity board might impose a penalty on your meter due to an illegal connection  they have identified on your meter.</li>
										  		<li>Not paying for the cost of a new meter after installation might result in your service provider to map the cost on your meter.</li>
												<li>Most likely, it could be as a result of migrating from a post-paid to a pre-paid meter and you have some outstanding payments.</li>
										  	</ul>
											<p>
											  We will strongly ask you to contact your electricity board to clarify this issue with them.
										  </p>	
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading18">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse18" aria-expanded="false" aria-controls="flush-collapse18">
										Is it possible to get a refund if I purchased a token for a wrong meter?
									  </button>
									</h2>
									<div id="flush-collapse18" class="accordion-collapse collapse" aria-labelledby="flush-heading18" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">
										  <p>
												We are sorry to say, it is not possible to get a refund once a token is generated, tokens are generated with an encapsulation of a meter ID and other factors. Also, token generated is not transferable to another meter.	  
										  </p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading19">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse19" aria-expanded="false" aria-controls="flush-collapse19">
										My meter not accepting my token?
									  </button>
									</h2>
									<div id="flush-collapse19" class="accordion-collapse collapse" aria-labelledby="flush-heading19" data-bs-parent="#accordionFlushExample">
									  <div class="accordion-body">
										  <p>
											This could be as a result of the following;  
										  </p>
										  <ul>
										  	<li>Maybe there is power outage in your area.</li>
											<li>Maybe the meter in question is yet to be activated. If, this is the case you will need to contact your electricity provider to activate your meter.</li>
											<li>Maybe you erroneously purchased a token for the wrong meter.</li>
										  </ul>
										   <p>
											   As usual, we are here to serve you. Please contact our customer representatives who are always willing to assist you with your queries.
										  </p> 
										<div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading20">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse20" aria-expanded="false" aria-controls="flush-collapse20">
										I noticed the units of the token generated is lesser than my previous transaction with the same amount of money ?
									  </button>
									</h2>
									<div id="flush-collapse20" class="accordion-collapse collapse" aria-labelledby="flush-heading20" data-bs-parent="#accordionFlushExample">
									    <div class="accordion-body">
											<p>
												There are series of factors that could cause this disparity, please see below bullet points;
											</p>
											<ul>
												<li>It is likely that your electricity provider has changed their tariff.</li>
												<li>There could be an outstanding balance on your meter.</li>
											</ul>
											<p>
												You can call our support line for clarification.
											</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading21">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse21" aria-expanded="false" aria-controls="flush-collapse21">
										My meter not responsive?
									  </button>
									</h2>
									<div id="flush-collapse21" class="accordion-collapse collapse" aria-labelledby="flush-heading21" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												This could be as a result of the following;
											</p>
											<ul>
												<li>Maybe your electricity providers are having network issues within their infrastructure</li>
												<li>Ensure your meter is well connected to the wall socket.</li>
												<li>If the meter device is faulty, we advise you should contact your electricity provider to get it replaced.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading22">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse22" aria-expanded="false" aria-controls="flush-collapse22">
										Why my units run out too quickly?
									  </button>
									</h2>
									<div id="flush-collapse22" class="accordion-collapse collapse" aria-labelledby="flush-heading22" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												There might be a couple of reasons behind it, please see below bullet points;
											</p>
											<ul>
												<li>There could be a faulty appliance drawing too much power than expected.</li>
												<li>Most often, check if there’s an illegal connection to your meter.</li>
												<li>You might need to do a bit of stock take to identify your usage</li>
												<li>Turn off any appliance or bulbs if there’s no need for them to be on.</li>
											</ul>
										</div>
									</div>
								</div>
								<h4>
									Other Services (Token).	
								</h4>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading23">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse23" aria-expanded="false" aria-controls="flush-collapse23">
										What is My Smartcard/IUC Number?
									  </button>
									</h2>
									<div id="flush-collapse23" class="accordion-collapse collapse" aria-labelledby="flush-heading23" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												Your IUC/smartcard number is a series of number assigned to your decoder. For GOTV subscribers, it can be found on a red label underneath your decoder. For DSTV or StarTimes subscribers, simply pull out your smartcard from your decoder. The number on the card is your smartcard number.
											</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading24">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse24" aria-expanded="false" aria-controls="flush-collapse24">
										 How do I obtain a token for my purchase?
									  </button>
									</h2>
									<div id="flush-collapse24" class="accordion-collapse collapse" aria-labelledby="flush-heading24" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												There are ways to receive your token for all our services, please see below bullet points;
											</p>
											<ul>
												<li>We usually send tokens via SMS to the mobile number your provided during your transaction and if you have registered with us, we will send the token to the number in your record.</li>
												<li>Also, we send tokens via email addresses if you provide us with the appropriate email address.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading25">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse25" aria-expanded="false" aria-controls="flush-collapse25">
										Why wasn’t my DSTV reconnected Immediately after my transaction?
									  </button>
									</h2>
									<div id="flush-collapse25" class="accordion-collapse collapse" aria-labelledby="flush-heading25" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												Please below bullet points will provide guidance during DSTV subscription
											</p>
											<ul>
												<li>You need to ensure that your Decoder is switched on at the time of transaction which will enable your decoder to send a broadcast for auto re-connection. If this problem persist, you might need to reset your decoder in order to re-establish a connection back to  Multichoice.</li>
												<li>Maybe you changed your package during renewal (upgrade/downgrade). You will need to contact Multichoice customer service to activate the new package on your profile or if you have registered online with Multichoice, you can easily select the option you have paid for on your user portal.</li>
												<li>In case of GOTV, please reset your decoder and if the issue persists, you can call GOTV customer care in order to resolve the issue.</li>
												<li>Alternatively, you can call our wonderful customer representatives to assist further.</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-heading26">
									  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse26" aria-expanded="false" aria-controls="flush-collapse26">
										Having issues loading my token for airtime/data subscription ?
									  </button>
									</h2>
									<div id="flush-collapse26" class="accordion-collapse collapse" aria-labelledby="flush-heading26" data-bs-parent="#accordionFlushExample">
									  	<div class="accordion-body">
											<p>
												This could be as a result of the following;
											</p>
											<ul>
												<li>Maybe there is an issue with your service provider network.</li>
												<li>Please call your service provider’s customer care line and ensure you have your unique purchase reference with you.</li>
												<li>Maybe you erroneously purchased a token for the wrong number.</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div>
				</div>
			</div>
        </div>
	<!-- Content End -->
<%- include("partials/footer") %>