<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Online billing payment systems in Nigeria aiming to pay bills like electricity bills,          Prepaid and Postpaid Meters units for IKEDC, EKEDC and IBDEC">
		<meta name="keyword" content="">
		<meta name="theme-color" content="">
		<meta name="copyright" content="Lightup Link" >
		<title>Lightup Link</title>
		<link rel="stylesheet" Content-type="text/css" href="/css/app.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Satisfy&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
		
		<!-- 	favicon icons	 -->
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon.ico">
		<link rel="manifest" href="/favicon_io/site.webmanifest">
		<link rel="stylesheet" href="/css/popup.css">
	</head>
	<body>
		<Header>
			<div>
				<video playsinline webkit-playsinline autoplay="autoplay" defaultMuted muted="true" loop='loop' poster="/images/poster.png" id="myVideo" class="headerVideo">
					<source src="/images/video/pexels-askar-abayev-6200788.mp4" type="video/mp4">
					<source src="/images/video/pexels-askar-abayev-6200788.webm" type="video/webm">
					<source src="/images/pexels-askar-abayev-6200788.avi" type="video/avi">
				</video>
			</div>
			<div class="headerOverlay"></div>
			
			<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
	  	  	  	  <div class="container">
								<a class="navbar-brand" href="https://lightup-link.run-eu-central1.goorm.io/">
					  				<img src="/images/lightup link logo-200_x_110.png">
					  			</a>
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  		  		  		  <span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse pt-4" id="navbarSupportedContent">
		  		  		  		  <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-75">
												<li class="nav-item">
			  			  			  			  <a style="color: rgb(255, 204, 0);" class="nav-link active fs-7" aria-current="page" href="https://lightup-link.run-eu-central1.goorm.io/">Home</a>
												</li>
												<li class="nav-item">
			  			  			  			  <a style="color: rgb(255, 204, 0);" class="nav-link fs-7" href="https://lightup-link.run-eu-central1.goorm.io/pay-bills">Pay Bills</a>
												</li>
									  			<li class="nav-item">
			  			  			  			  <a style="color: rgb(255, 204, 0);" class="nav-link fs-7" href="https://lightup-link.run-eu-central1.goorm.io/contact">Contacts</a>
												</li>
									  			<li class="nav-item">
			  			  			  			  <a style="color: rgb(255, 204, 0);" class="nav-link fs-7" href="https://lightup-link.run-eu-central1.goorm.io/about">About Us</a>
												</li>
												<li class="nav-item">
			  			  			  			  <a style="color: rgb(255, 204, 0);" class="nav-link fs-7 disabled" href="https://lightup-link.run-eu-central1.goorm.io/login" tabindex="-1" aria-disabled="true">Merchant</a>
												</li>
		  		  		  		  </ul>
									<div class="navLink1 d-flex">
										<button class="navButtons">
											<a style="color: rgb(255, 204, 0);" href="https://lightup-link.run-eu-central1.goorm.io/login" class="fs-6">My account</a>	
										</button>
										<button class="navButtons">
											<a style="color: rgb(255, 204, 0);" href="https://lightup-link.run-eu-central1.goorm.io/register" class="fs-6">Sign up</a>
										</button>
									</div>
								</div>
	  	  	  	  </div>
				</nav>

		</Header>
		
		
		<section id="manage-bills">
			<div class="container bg-light py-3">
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<h1><span id="text-primary" class="l-heading"><b>Let us manage your bills</b></span></h1>
						<P>Choose a service to suit your needs - from electricity bill to data subscriptions, insurance and DSTV. We offer flexible ways of making payments, to ensure ease of use for our customers.</P>
						<ul id="manage-bills-list">
							<li class="my-1"><b><span class="Comfortaa-b">User Friendly </span></b> -  Our aim and intention are to create a platform to ease the additional pressures of life for our customers.</li>
							<li class="my-1"><b><span class="Comfortaa-b">Our values</span></b> - The core purpose in life is to value and respect others, at Lightup Link we highly value and respect our customers. </li>
							<li class="my-1"><b><span class="Comfortaa-b">Our customers’ needs </span></b> - We uphold our customers’ needs and their interests, these serves as a purpose for our existence. </li>
							<li>
							<li class="my-1"><b><span class="Comfortaa-b">Dedicated customer support </span></b> - Speak with us 7 days a week via LiveChat, phone or email and social media platforms. </li>
							<li>
								<div class="container" style="overflow: hidden;">
									<div class="row-cols-1">
										<button type="button" class="manageBillButtons bg-light"><a style="color: rgb(0, 0, 0);" href="https://lightup-link.run-eu-central1.goorm.io/pay-bills" class="fs-6">Pay your Bills</a></button>
									</div>
									<div class="row-cols-1">
										<button type="button" class="manageBillButtons"><a style="color: rgb(0, 0, 0);" href="https://lightup-link.run-eu-central1.goorm.io/login" class="fs-6">Get a quotation</a></button>
									</div>
								</div>
							</li>
						</ul>

					</div>
					<div class="col-md-0 col-lg-6" id="managebills-image">
						<img src="/images/pexels-photo-4482900.jpeg" class="w-75 rounded-pill" alt="paying-bills">
					</div>
				</div>
				</div>
		</section>
		<%- include("partials/TermsConditions") %>
<%- include("partials/privacy") %>

		<section id="footer-note" class="bg-dark">
			<div class="container">
				<div id="footer-logo">
					<img src="/images/lightup link logo-150_x_75.png">
				</div>
				<div id="footerText-left">
					<span class="footerNote-text">
						<ul>
							<li><b>Call us:</b> +234 901 2345 678 </li>
							<li><b>Email:</b> info@lightuplink.com</li>
							<li><b>&#169; </b>2021 Lightup link | <a class="text-warning" href="#offcanvasWithBothOptions1" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasWithBothOptions1">Privacy Policy</a> | <a class="text-warning" href="#offcanvasWithBothOptions" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasWithBothOptions">Term of Use</a> | <a class="text-warning" href= "https://lightup-link.run-eu-central1.goorm.io/FAQs-Testimonials#faqs" target="_self">FAQS</a> | All Rights Reserved</li>
						</ul>
					</span>
				</div>
				<div id="footerText-right">
					<b class="footerNote-text">Powered By:</b> <span id="Prog-brand" class="footerNote-text" style="color: white;">addikted<span style="color: #c41a1a;"> Solutions</span></span> 
				</div>
			</div>
		</section>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	</body>
</html>